@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  padding: 100px;
  min-height: 100vh;
  align-items: center;
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
}

.container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  background-color: hsl(216, 50%, 16%);
  padding: 27px;
  border-radius: 17px;
}

.card-image {
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-title {
  font-size: 24px;
  color: hsl(0, 0%, 100%);
}

.card-title:hover {
  cursor: pointer;
  font-size: 24px;
  color: hsl(178, 100%, 50%);
}

.card-text {
  font-size: 20px;
  width: 100%;
  line-height: 28px;
  color: hsl(215, 51%, 70%);
}

.card-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-price {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 18px;
  font-weight: 400;
  color: hsl(178, 100%, 50%);
}

.card-days {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 18px;
  color: hsl(215, 51%, 70%);
}

.footer-card {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 1px;
  gap: 20px;
  border-top: 1px solid hsl(215, 32%, 27%);
}

.footer-card img {
  max-width: 30px;
  margin-top: 15px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
}

.footer-card p {
  margin-top: 15px;
  color: hsl(215, 51%, 70%);
}

.footer-card span {
  margin-top: 15px;
  color: hsl(0, 0%, 100%);
}
.footer-card span:hover {
  cursor: pointer;
  margin-top: 15px;
  color: hsl(178, 100%, 50%);
}

@media only screen and (max-width: 1200px) {
    body {
        padding: 0;
        margin: 20px;
    }
    .card-text {
        font-size: 17px;
    }
}